html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    color: #212121;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}

.container {
    max-width: 73%;
    width: 73%;
    margin: 0 auto;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    color: #0057B7;
    padding-top: 30px;
    padding-bottom: 20px;
}

button {
    font-family: inherit;
}

.table-container {
    background-color: #D9EBF7;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    box-sizing: border-box;
}

.dark .table-container {
    background-color: #1c3b8b;
}

table {
    width: 100%;
    border-color: transparent;
    max-width: 100%;
    overflow-x: scroll;
    border-spacing: 0 10px;
}

thead th {
    text-align: left;
    color: #0057B7FF;
    font-size: 28px;
    padding-bottom: 10px;
}

tbody th {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 20px;
}

.dark th,
.dark td {
    color: inherit;
}

tbody tr {
    border-radius: 8px;
    height: 70px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.10);
}

tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tbody th,
tbody td {
    text-align: left;
    color: #0057B7;
    font-weight: bold;
    font-size: 21px;
    background-color: #FFFFFF;
}

.dark tbody th,
.dark tbody td {
    background-color: #1C1C1C;
    color: #17b3f6;
}

.details-btn {
    background-color: #FFFFFF;
    color: #0057B7;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #0057B7;
    padding: 12px 20px;
    font-size: 19px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.dark .details-btn,
.dark .create-btn {
    color: #17b3f6;
    background-color: inherit;
    border-color: #17b3f6;
}

.details-btn:hover {
    background-color: #D8EAF6;
}

.text-end {
    margin-top: 20px;
    text-align: right;
}

.create-btn {
    background-color: #FFF;
    border-radius: 8px;
    color: #0057B7;
    border: 2px solid #0057B7;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 19px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.create-btn:hover {
    background-color: #D8EAF6;
}
