{% extends 'base.html' %}
{% block title %}Account beheer{% endblock %}
{% block styles%}
    <link rel="stylesheet" href="/static/accountbeheer.css" />
{% endblock %}

{% block nav_links %}
<a href="/deskundige">Onderzoeken</a>
<a href="/deskundige/profiel">Profiel</a>
{% endblock %}

{% block content %}
<div id="snackbar"></div>
<h1>Welkom</h1>
<form id="updateDeskundige">
  <div class="form-header">
    <div class="form-header-left">
      <img src="/static/icons/profile_picture.svg" alt="logo" />
      <div class="form-header-text">
        <h2 id="voornaam-title"></h2>
        <h2 id="achternaam-title"></h2>
      </div>
    </div>

    <div class="button-container">
      <input type="submit" value="Bewerken" />
    </div>
  </div>

  <!-- Persoonlijke gegevens -->
  <div class="account-info-wrapper">
    <h3>Persoonlijke gegevens</h3>
    <div class="label-column">
      <label for="voornaam">Voornaam</label>
      <input type="text" id="voornaam" name="voornaam" />
    </div>

    <div class="label-column">
      <label for="achternaam">Achternaam</label>
      <input type="text" id="achternaam" name="achternaam" />
    </div>

    <div class="label-column">
      <label for="wachtwoord">Wachtwoord</label>
      <input type="password" id="wachtwoord" name="wachtwoord" />
    </div>

    <div class="full-width-form-element label-column">
      <label for="postcode">Postcode</label>
      <input type="text" id="postcode" name="postcode" />
    </div>

    <div class="label-column">
      <label for="geboortedatum">Geboortedatum</label>
      <input type="date" id="geboortedatum" name="geboortedatum" />
    </div>

    <div class="label-column dropdown">
      <label for="geslacht">Geslacht</label>
      <select name="geslacht" id="geslacht">
        <option value="man">Man</option>
        <option value="vrouw">Vrouw</option>
        <option value="anders">Anders</option>
      </select>
    </div>

    <div class="label-column full-width-form-element">
      <label for="introductie">Kort voorstel</label>
      <textarea name="introductie" id="introductie"></textarea>
    </div>
  </div>

  <!-- Contactgegevens -->
  <div class="account-info-wrapper">
    <h3>Contactgegevens</h3>
    <div class="label-column">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" />
    </div>

    <div class="label-column">
      <label for="telefoonnummer">Telefoon</label>
      <input type="text" id="telefoonnummer" name="telefoonnummer" />
    </div>
  </div>

  <!-- Toezichthouder -->
  <div class="account-info-wrapper">
    <h3>Gegevens van de toezichthouder</h3>
    <div class="label-column">
      <label class="checkbox-container"
        >Toezichthouder
        <input
          type="checkbox"
          id="toezichthouder"
          name="toezichthouder"
          checked="checked"
        />
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="label-column">
      <label for="toezichthouder-naam">Naam toezichthouder </label>
      <input
        type="text"
        id="toezichthouder-naam"
        name="toezichthouder-naam"
      />
    </div>

    <div class="label-column">
      <label for="toezichthouder-email">Email toezichthouder </label>
      <input
        type="email"
        id="toezichthouder-email"
        name="toezichthouder-email"
      />
    </div>

    <div class="label-column">
      <label for="toezichthouder-telefoonnummer"
        >Telefoonnummer toezichthouder
      </label>
      <input
        type="tel"
        id="toezichthouder-telefoonnummer"
        name="toezichthouder-telefoonnummer"
      />
    </div>
  </div>

  <div class="account-info-wrapper">
    <h3>Beperkingen & extra gegevens</h3>

    <div class="label-column dropdown">
      <label for="type-beperking">Type beperking</label>
      <select name="type-beperking" id="type-beperking"></select>
    </div>

    <div class="label-column">
      <label for="hulpmiddelen">Gebruikte hulpmiddelen</label>
      <input type="text" id="hulpmiddelen" name="hulpmiddelen" />
    </div>

    <div class="label-column">
      <label for="bijzonderheden">Bijzonderheden </label>
      <input type="text" name="bijzonderheden" id="bijzonderheden" />
    </div>

    <div class="label-column">
      <label for="bijzonderheden-beschikbaarheid"
        >Bijzonderheden beschikbaarheid
      </label>
      <input
        type="text"
        name="bijzonderheden-beschikbaarheid"
        id="bijzonderheden-beschikbaarheid"
      />
    </div>

    <div class="label-column">
      <label>Voorkeur benadering </label>
      <div class="radio-container">
        <input type="radio" name="voorkeur-benadering" value="Telefoon" />
        <label>Telefoonisch</label>
      </div>
      <div class="radio-container">
        <input type="radio" name="voorkeur-benadering" value="E-mail" />
        <label>E-mail</label>
      </div>
    </div>

    <div class="label-column dropdown">
      <label for="type-onderzoek">Type onderzoek</label>
      <select name="type-onderzoek" id="type-onderzoek"></select>
    </div>
  </div>
  <div class="button-container">
    <input type="text" value="Annuleren" id="annuleren-button" />
    <input type="submit" value="Opslaan" />
  </div>
</form>
{% endblock %}

{% block scripts %}
    <script src="/static/js/account_beheer.js"></script>
{% endblock %}