<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>
     <!-- Code for Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
    <header role="banner">
        <nav role="navigation">
            <a class="header-logo-container" href="/">
                <img class="header-logo" src="https://www.accessibility.nl/themes/sa/images/logo.svg" alt="Logo van Stichting Accessibility">
            </a>
            <div class="nav-links">
                {% block nav_links %}{% endblock %}
            </div>
        </nav>
    </header>

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>