{% extends 'base.html' %}
{% block title %}Deskundige details{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/registreer_deskundige.css" />
{% endblock %}

{% block nav_links %}
<a href="/deskundige">Dashboard</a>
<a href="/deskundige/profiel">Profiel</a>
<a href="/logout">Uitloggen</a>
{% endblock %}

{% block content %}
<h1>Deskundige details</h1>
<form id="updateDeskundige" method="POST">
  <h2 class="form-title">Vul de onderstaande gegevens in</h2>
  <div class="label-column">
    <label for="voornaam">Voornaam</label>
    <input type="text" id="voornaam" name="voornaam" />
  </div>

  <div class="label-column">
    <label for="achternaam">Achternaam</label>
    <input type="text" id="achternaam" name="achternaam" />
  </div>

  <div class="label-column">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="label-column">
    <label for="wachtwoord">Wachtwoord</label>
    <input type="password" id="wachtwoord" name="wachtwoord" />
  </div>

  <div class="label-column">
    <label for="telefoonnummer">Telefoonnummer</label>
    <input type="text" id="telefoonnummer" name="telefoonnummer" />
  </div>

  <div class="label-column">
    <label for="postcode">Postcode</label>
    <input type="text" id="postcode" name="postcode" />
  </div>

  <div class="label-column">
    <label for="geboortedatum">Geboortedatum</label>
    <input type="date" id="geboortedatum" name="geboortedatum" />
  </div>

  <div class="label-column dropdown">
    <label for="geslacht">Geslacht</label>
    <select name="geslacht" id="geslacht">
      <option value="man">Man</option>
      <option value="vrouw">Vrouw</option>
      <option value="anders">Anders</option>
    </select>
  </div>

  <div class="label-column dropdown">
    <label for="type-beperking">Type beperking</label>
    <select name="type-beperking" id="type-beperking">
      <option value="blind">Blind</option>
      <option value="dikbeklede">Dikbeklede</option>
      <option value="andere">Andere</option>
    </select>
  </div>

  <div class="label-column">
    <label for="hulpmiddelen">Gebruikte hulpmiddelen</label>
    <input type="text" id="hulpmiddelen" name="hulpmiddelen" />
  </div>

  <div class="label-column full-width-form-element">
    <label for="introductie ">Introductie</label>
    <textarea name="introductie" id="introductie"></textarea>
  </div>

  <div class="label-column full-width-form-element">
    <label for="bijzonderheden">Bijzonderheden</label>
    <input type="text" id="bijzonderheden" name="bijzonderheden" />
  </div>

  <div class="full-width-form-element">
    <label class="checkbox-container" for="toezichthouder"
      >Toezichthouder
      <input
        type="checkbox"
        id="toezichthouder"
        name="toezichthouder"
        value="true"
      />
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="label-column">
    <label for="toezichthouder-naam">Naam toezichthouder </label>
    <input
      type="text"
      id="toezichthouder-naam"
      name="toezichthouder-naam"
    />
  </div>

  <div class="label-column">
    <label for="toezichthouder-email">Email toezichthouder </label>
    <input
      type="email"
      id="toezichthouder-email"
      name="toezichthouder-email"
    />
  </div>

  <div class="label-column full-width-form-element">
    <label for="toezichthouder-telefoonnummer"
      >Telefoonnummer toezichthouder
    </label>
    <input
      type="tel"
      id="toezichthouder-telefoonnummer"
      name="toezichthouder-telefoonnummer"
    />
  </div>

  <div class="label-column">
    <label for="voorkeur-benadering">Voorkeur benadering </label>
    <div class="radio-container">
      <input type="radio" name="voorkeur-benadering" value="telefoon" > Telefonisch</input>
      <input type="radio" name="voorkeur-benadering" value="email" > E-mail</input>
    </div>
  </div>

  <div class="label-column dropdown">
    <label for="type-onderzoek">Type onderzoek</label>
    <select name="type-onderzoek" id="type-onderzoek">
      <option value="gebruikersonderzoek">Gebruikersonderzoek</option>
      <option value="expertreview">Expert review</option>
      <option value="focusgroep">Focusgroep</option>
      <option value="interview">Interview</option>
      <option value="enquete">Enquête</option>
      <option value="usabilitytest">Usability test</option>
      <option value="anders">Anders</option>
    </select>
  </div>

  <div class="label-column full-width-form-element">
    <label for="bijzonderheden-beschikbaarheid"
      >Bijzonderheden beschikbaarheid
    </label>
    <input
      type="text"
      name="bijzonderheden-beschikbaarheid"
      id="bijzonderheden-beschikbaarheid"
    />
  </div>
  <div class="label-column">
    <label class="checkbox-container" for="akkoord"
      >Akkoord met voorwaarden en privacy
      <input type="checkbox" id="akkoord" name="akkoord" />
      <span class="checkmark"></span>
    </label>
  </div>

  <input type="submit" value="Aanpassen" class="label-column" />
</form>
{% endblock %}

{% block scripts %}
    <script src="../static/js/deskundige.js"></script>
{% endblock %}
