<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Onderzoeken</title>

    <!-- Code for Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/experts-dashboard.css">
</head>
<body>
    <div class="research-modal-background js-research-modal-background hide">
      <!--Research item modal-->
    </div>
    <header>
        <nav>
            <img class="header-logo" src="https://www.accessibility.nl/themes/sa/images/logo.svg" alt="Logo van Stichting Accessibility">
            <div class="nav-links">
                <a class="page-toggler js-page-toggler">Onderzoeken</a>
                <a href="/logout">Uitloggen</a>
            </div>
        </nav>
    </header>
   <main>
      <section class="js-research-section">
          <div class="section-header">
              <h1 class="section-title">Beschikbare onderzoeken</h1>
          </div>
          <div class="research-grid-container js-research-grid-container">
            <!--Research Items-->
          </div>
      </section>

      <section class="js-enlistments-section hide">
          <div class="section-header">
              <h1 class="section-title">Jouw inschrijvingen</h1>
          </div>

          <div class="enlistments-search-bar">
              <input id="enlistments-input" class="enlistments-search-input" type="search" aria-label="Zoeken" placeholder="Zoeken">
          </div>

          <div class="enlistments-grid-container">
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Lopend</h2>
                  <div class="enlistments-container pending-enlistments js-pending-enlistments">
                        <!--Pending Enlistments-->
                  </div>
              </div>
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Goedgekeurd</h2>
                  <div class="enlistments-container accepted-enlistments js-accepted-enlistments">
                        <!--Accepted Enlistments-->
                  </div>
              </div>
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Afgekeurd</h2>
                  <div class="enlistments-container rejected-enlistments js-rejected-enlistments">
                      <!--Rejected Enlistments-->
                  </div>
              </div>
          </div>
      </section>
   </main>

<script type="module" src="../static/js/experts-dashboard.js"></script>
</body>
</html>