<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Onderzoeken</title>

    <!-- Code for Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/experts-dashboard.css">
</head>
<body>
   <main>
      <div class="research-modal-background js-research-modal-background hide">
          <!--Research item modal-->
      </div>

      <section class="js-research-section">
          <div class="section-header">
              <h1 class="section-title">Beschikbare onderzoeken</h1>
              <nav class="page-toggler js-page-toggler">Ga naar inschrijvingen</nav>
          </div>
          <div class="research-grid-container js-research-grid-container">
            <!--Research Items-->
          </div>
      </section>

      <section class="js-enlistments-section hide">
          <div class="section-header">
              <h1 class="section-title">Jouw inschrijvingen</h1>
              <nav class="page-toggler js-page-toggler">Ga naar onderzoeken</nav>
          </div>
          <div class="enlistments-grid-container">
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Lopende inschrijvingen</h2>
                  <div class="enlistments-search-bar">
                      <label for="pending-enlistments-input">Zoeken</label>
                      <input id="pending-enlistments-input" class="enlistments-search-input">
                  </div>

                  <div class="pending-enlistments">

                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>

                  </div>
              </div>
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Goedgekeurde inschrijvingen</h2>
                  <div class="enlistments-search-bar">
                      <label for="accepted-enlistments-input">Zoeken</label>
                      <input id="accepted-enlistments-input" class="enlistments-search-input">
                  </div>

                  <div class="accepted-enlistments">

                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>

                  </div>
              </div>
              <div class="enlistment-category-container">
                  <h2 class="enlistment-category-header">Afgekeurde inschrijvingen</h2>
                  <div class="enlistments-search-bar">
                      <label for="rejected-enlistments-input">Zoeken</label>
                      <input id="rejected-enlistments-input" class="enlistments-search-input">
                  </div>

                  <div class="rejected-enlistments">

                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>
                      <div class="enlistment">
                          <h3 class="enlistment-name">Onderzoek 1</h3>
                          <button class="enlistment-details-button">Details</button>
                      </div>

                  </div>
              </div>
          </div>
      </section>
   </main>

<script type="module" src="../static/js/experts-dashboard.js"></script>
</body>
</html>