{% extends 'base.html' %} {% block title %}Loginpagina{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/log-in.css" />
{% endblock %}
{% block nav_links %}
<a href="/deskundige/registreer">Registreren</a>
{% endblock %}

{% block content %}
<form id="loginForm">
  <h1>Log hier in</h1>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Wachtwoord:</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Log In</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
