{% extends 'base.html' %}
{% block title %}Uitloggen...{% endblock %}
{% block content %}
<h1>U wordt uitgelogd</h1>
{% endblock %}
{% block scripts %}
<script>

    const accessToken = sessionStorage.getItem('accessToken');
    const refreshToken = sessionStorage.getItem('refreshToken');


    fetch('/auth/logout', {
        headers: {
            'Authorization': `Bearer ${accessToken}`
        }
    })
    .then(response => {
        fetch('/auth/logout', {
            headers: {
                'Authorization': `Bearer ${refreshToken}`
            }
        })
        .then(response => {
            sessionStorage.clear();

            window.location.href = '/';
        })
    })

</script>
{% endblock %}