{% extends 'base.html'%}
{% block title %}Organisatie Registratie{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/css/organisatie_registratie.css">
{% endblock %}

{% block nav_links %}
<a href="/admin">Verzoeken</a>
<a href="/admin/beheer">Beheerders</a>
<a href="/admin/organisatie">Organisatie</a>
<a href="/logout">Uitloggen</a>
{% endblock %}

{% block content%}
<div class="container-registratie">
    <div class="title">
        <h1>
            Maak hier een organisatie aan!
        </h1>
    </div>
    <div class="fields-container">
        <div class="form-group">
            <div class="form-items">
                <label for="name">Naam Organisatie</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-items">
                <label for="organisation-type">Type Organisatie:</label>
                <select id="organisation-type" required>
                    <option value="non-profit" selected>Non-profit</option>
                    <option value="commerciëel">Commerciëel</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-items">
                <label for="website">Website:</label>
                <input type="url" id="website" name="website" required>
            </div>
            <div class="form-items">
                <label for="contact-person">Contactpersoon:</label>
                <input type="text" id="contact-person" name="contactpersoon" required>
            </div>
        </div>

        <div class="form-group">
            <div class="form-items">
                <label for="description">Beschrijving:</label>
                <input type="text" id="description" name="beschrijving">
            </div>
        </div>

        <div class="form-group">
            <div class="form-items">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-items">
                <label for="phone-number">Telefoonnummer:</label>
                <input type="tel" id="phone-number" name="telefoonnummer">
            </div>
        </div>

        <div class="form-group">
            <div class="form-items">
                <label for="password">Wachtwoord:</label>
                <input type="text" id="password" name="details">
            </div>
            <div class="form-items">
                <label for="details">Overige Details:</label>
                <input type="text" id="details" name="details">
            </div>
        </div>

        <button class="js-submit">Verzenden</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/organisation-registration.js"></script>
{% endblock %}