<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registratie ervaringsdeskundige</title>
    <link rel="stylesheet" href="/static/registreer_deskundige.css" />
  </head>
  <body>
    <div id="snackbar"></div>
    <h1>Registratie ervaringsdeskundige</h1>
    <form id="createDeskundige" method="POST">
      <h2 class="form-title">Vul de onderstaande gegevens in</h2>
      <div class="label-column">
        <label for="voornaam" class="required">Voornaam <span class="required-field">*</span></label>
        <input type="text" id="voornaam" name="voornaam" />
      </div>

      <div class="label-column">
        <label for="achternaam" class="required">Achternaam <span class="required-field">*</span></label>
        <input type="text" id="achternaam" name="achternaam" />
      </div>

      <div class="label-column">
        <label for="email" class="required">E-mail <span class="required-field">*</span></label>
        <input type="email" id="email" name="email" />
      </div>

      <div class="label-column">
        <label for="wachtwoord" class="required">Wachtwoord <span class="required-field">*</span></label>
        <input type="password" id="wachtwoord" name="wachtwoord" />
      </div>

      <div class="label-column">
        <label for="telefoonnummer" class="required">Telefoonnummer <span class="required-field">*</span></label>
        <input type="text" id="telefoonnummer" name="telefoonnummer" />
      </div>

      <div class="label-column">
        <label for="postcode" class="required">Postcode <span class="required-field">*</span></label>
        <input type="text" id="postcode" name="postcode" />
      </div>

      <div class="label-column">
        <label for="geboortedatum" class="required">Geboortedatum <span class="required-field">*</span></label>
        <input type="date" id="geboortedatum" name="geboortedatum" />
      </div>

      <div class="label-column dropdown">
        <label for="geslacht" class="required">Geslacht <span class="required-field">*</span></label>
        <select name="geslacht" id="geslacht">
          <option value="man">Man</option>
          <option value="vrouw">Vrouw</option>
          <option value="anders">Anders</option>
        </select>
      </div>

      <div class="label-column dropdown">
        <label for="type-beperking" class="required">Type beperking <span class="required-field">*</span></label>
        <select name="type-beperking" id="type-beperking">
        </select>
      </div>

      <div class="label-column">
        <label for="hulpmiddelen">Gebruikte hulpmiddelen</label>
        <input type="text" id="hulpmiddelen" name="hulpmiddelen" />
      </div>

      <div class="label-column full-width-form-element">
        <label for="introductie" class="required">Introductie <span class="required-field">*</span></label>
        <textarea name="introductie" id="introductie"></textarea>
      </div>

      <div class="label-column full-width-form-element">
        <label for="bijzonderheden">Bijzonderheden</label>
        <input type="text" id="bijzonderheden" name="bijzonderheden" />
      </div>

      <div class="full-width-form-element">
        <label class="checkbox-container" for="toezichthouder"
          >Toezichthouder
          <input
            type="checkbox"
            id="toezichthouder"
            name="toezichthouder"
            value="true"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div id="toezichthouder-container" class="full-width-form-element">
        <div class="label-column">
          <label for="toezichthouder-naam">Naam toezichthouder </label>
          <input
            type="text"
            id="toezichthouder-naam"
            name="toezichthouder-naam"
          />
        </div>

        <div class="label-column">
          <label for="toezichthouder-email">Email toezichthouder </label>
          <input
            type="email"
            id="toezichthouder-email"
            name="toezichthouder-email"
          />
        </div>

        <div class="label-column full-width-form-element">
          <label for="toezichthouder-telefoonnummer"
            >Telefoonnummer toezichthouder
          </label>
          <input
            type="tel"
            id="toezichthouder-telefoonnummer"
            name="toezichthouder-telefoonnummer"
          />
        </div>
      </div>

      <div class="label-column">
        <label for="voorkeur-benadering">Voorkeur benadering </label>
        <div class="radio-container">
          <input type="radio" name="voorkeur-benadering" value="telefoon" > Telefonisch</input>
          <input type="radio" name="voorkeur-benadering" value="email" > E-mail</input>
        </div>
      </div>

      <div class="label-column dropdown">
        <label for="type-onderzoek">Type onderzoek</label>
        <select name="type-onderzoek" id="type-onderzoek">
    
        </select>
      </div>

      <div class="label-column full-width-form-element">
        <label for="bijzonderheden-beschikbaarheid"
          >Bijzonderheden beschikbaarheid
        </label>
        <input
          type="text"
          name="bijzonderheden-beschikbaarheid"
          id="bijzonderheden-beschikbaarheid"
        />
      </div>
      <div class="label-column">
        <label class="checkbox-container" for="akkoord"
          >Akkoord met voorwaarden en privacy
          <input type="checkbox" id="akkoord" name="akkoord" />
          <span class="checkmark"></span>
        </label>
      </div>

      <input type="submit" value="Registreer" class="label-column" />
    </form>
    <script src="../static/js/registreer_deskundige.js"></script>
  </body>
</html>
