<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registratie ervaringsdeskundige</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <form action="/registreer_deskundige">
      <label for="fname">Voornaam</label>
      <input type="text" id="fname" name="fname" />
      <label for="lname">Achternaam</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Postcode</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Geslacht</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Emailadres</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Status</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Geboortedatum</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Gebruikte_hulpmiddelen</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Introductie</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Bijzonderheden</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Type onderzoek</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">voorkeur_benadering</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Bijzonderheden_beschikbaarheid</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Wachtwoord</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Toezichthouder_naam</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Toezichthouder_email</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Toezichthouder_telefoon</label>
      <input type="text" id="lname" name="lname" />
      <label for="lname">Toezichthouder</label>
      <input type="text" id="lname" name="lname" />
      <input type="submit" value="Registreer" />
    </form>
  </body>
</html>
